@import "../../css/colors.css";
@import "../../css/units.css";

.tag-button {
    padding: .625rem 1rem;
    background-image: url('../gui/bg_darkblue@1x.png');
    color: $ui-white;
    height: $library-filter-bar-height;
}

.tag-button-icon {
    max-width: 1rem;
    max-height: 1rem;
}

.active {
    background-image: url('../gui/bg_orange@1x.png');
}
