@import "../../css/colors.css";

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999; /* Below preview modal */
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../gui/bg_header@1x.png);
    padding: 2rem;
}

.wdr-logo {
    align-self: flex-start;
    height: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}

.logo {
    height: 50vh;
}
