# Mac OS
.DS_Store

# NPM
/node_modules
npm-*

# Testing
/.nyc_output
/coverage

# Build
/build
/dist
/.opt-in
/.serverless/

# generated translation files
/translations
/locale

# Netlify Functions
/lambda/

# Local config
.env

# External assets
/assets/

# Cache
/.cache/
.webpack/
