.button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-family: 'Titillium Web';
  font-weight: 600;
  font-size: 1.2rem;
  text-decoration: none;
}

.icon {
  height: 3.5rem;
  margin-top: .25rem;
  margin-right: -1rem;

  z-index: 1;
}

.content {
  color: black;
  background-color: white;
  padding: .25rem 1rem .25rem 1.5rem;
  box-shadow: .125rem .125rem .75rem 0 rgba(0,0,0,0.5);
}
