.button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-family: 'Titillium Web';
  font-weight: 600;
  font-size: 1.2rem;
  text-decoration: none;
  margin-right: 1rem;
  cursor: pointer;
}

.button:last-of-type {
  margin-right: 0;
}

.icon {
  height: 3.5rem;
  margin-top: 0.25rem;
  margin-right: -1rem;

  z-index: 1;
}

.content {
  color: black;
  background-color: white;
  padding: 0.25rem 1rem 0.25rem 1.5rem;
  box-shadow: 0.125rem 0.125rem 0.75rem 0 rgba(0, 0, 0, 0.5);
}

.button-vertical {
  flex-direction: column;
  align-items: center;
}

.button-vertical > .icon {
  height: 3rem;
  margin: 0 0 -0.3rem 0;
}

.button-vertical:first-child > .icon {
  margin: 0.3rem 0 -0.6rem 0;
}

.button-vertical > .content {
  font-size: 1rem;
  padding: 0 0.2rem;
  box-shadow: 0.125rem 0.125rem 0.75rem 0 rgba(0, 0, 0, 0.5);
}

@media (max-width: 1024px) {
  .button-vertical {
    width: 80%;
    height: auto;
  }
  .button-vertical > .icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}
