@import "../../css/colors.css";

.page-wrapper {
    display: none;
}

.inner-wrapper {
    max-width: 50rem;
    padding: 1.5rem;
    background-color: white;
    box-shadow: 0 0 0.8rem 1px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-wrapper strong {
    color: $ui-orange;
}

.maus-question {
    height: 60vw;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: url(../gui/bg_header@1x.png);
    padding: 2rem;
    height: 100%;
}

.info-button {
    display: inline-block;
}
