@import '../../css/colors.css';

.button {
  display: flex;
  align-items: center;
  margin: 0;
  background: none;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  position: relative;
  border: none;
  box-shadow: 2px 2px 6px -3px rgba(0, 0, 0, .7);
  color: white;
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

.button.primary {
  background: url(../gui/bg_orange@1x.png) no-repeat;
}

.button.secondary {
  background: url(../gui/bg_darkblue@1x.png) no-repeat;
}

.button.primary.disabled,
.button.secondary.disabled {
  background: url(./bg-grey.png) no-repeat;
  color: #ccc;
}

.button.wiggle {
  animation-name: wiggle;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.button.link {
  color: $ui-wdr-blue;
  text-decoration: underline;
  padding: 0;
}

@keyframes wiggle {
  0% {
    transform: rotate(3deg) scale(1.05);
  }
  25% {
    transform: rotate(-3deg) scale(1.05);
  }
  50% {
    transform: rotate(3deg) scale(1.05);
  }
  75% {
    transform: rotate(-3deg) scale(1.05);
  }
  100% {
    transform: rotate(0deg) scale(1.05);
  }
}

.arrow-left {
  padding-left: 2.5rem;
}

.arrow-right {
  padding-right: 2.5rem;
}

.arrow-left:before,
.arrow-right:after {
  top: 50%;
  height: 0;
  width: 0;
  position: absolute;
  border: solid transparent;
  border-width: 0.5rem;
  margin-top: -0.5rem;
  content: ' ';
  pointer-events: none;
}

.arrow-left:before {
  left: 0.75rem;
  border-right-color: white;
}

.arrow-right:after {
  right: 0.75rem;
  border-left-color: white;
}

.button.disabled {
  cursor: not-allowed;
}

.icon {
  margin-right: 0.5rem;
  height: 1.5rem;
}
