.outlined-button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: .75rem;
    padding-right: .75rem;
    user-select: none;
    border: none;
    background: none;
    color: white;
}

.icon {
    margin-right: .5rem;
    height: 1.5rem;
}

.content {
    white-space: nowrap;
    font-weight: bold;
    font-size: 1rem;
}
