@import "../../css/units.css";
@import "../../css/colors.css";

$header-height: calc($stage-menu-height - 2px);

.stage-selector {
    display: flex;
    align-items: center;
    padding: .5rem;

    font-family: 'Titillium Web';
    color: $text-primary;
    cursor: pointer;
}

.stage-selector.is-selected .costume-canvas,
.stage-selector:hover .costume-canvas {
    border-color: $ui-blue;
}

.stage-selector.is-selected .costume-canvas {
    border-width: 3px;
}

.label {
    margin-right: 1rem;
}

.button-new {
    height: 2.5rem;
    margin-left: -1.25rem;
    margin-right: 1rem;
    z-index: 1;
}

.costume-canvas {
    display: block;
    width: 100%;
    user-select: none;
    border: 1px solid rgba(0,0,0,.1);
    margin-left: .5rem;
}

.raised, .raised .header {
    transition: all 0.25s ease;
}

.raised:hover {
    transform: scale(1.05);
}

.receivedBlocks {
    animation: glowing 250ms;
}

@keyframes glowing {
    10% { box-shadow: 0 0 10px $ui-blue; }
    90% { box-shadow: 0 0 10px $ui-blue; }
    100% { box-shadow: none; }
}
