<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <meta name="description" content="Hier lernen Kinder Bildergeschichten und Spiele zu programmieren." />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@DieMaus" />
    <meta name="twitter:site" content="@DieMaus" />
    <meta name="twitter:image:src" content="https://programmieren.wdrmaus.de/assets/img/head_logo.png" />
    <meta name="twitter:image:alt" content="Logo 'Programmieren mit der Maus'" />
    <meta property="og:url" content="https://programmieren.wdrmaus.de" />
    <meta property="og:title" content="Programmieren mit der Maus" />
    <meta property="og:description" content="Hier lernen Kinder Bildergeschichten und Spiele zu programmieren." />
    <meta property="og:image" content="https://programmieren.wdrmaus.de/assets/img/head_logo.png" />
    <meta property="og:type" content="website" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/favicon.png">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% if (htmlWebpackPlugin.options.sentryConfig) { %>
        <!-- Sentry error logging to help with finding bugs -->
        <script src="https://cdn.ravenjs.com/3.22.1/raven.min.js" crossorigin="anonymous"></script>
        <script>
            Raven.config(<%= htmlWebpackPlugin.options.sentryConfig %>).install();
        </script>
        <!-- /Sentry -->
    <% } %>
  </head>
  <body>
  </body>
</html>
