@import '../../css/units.css';
@import '../../css/colors.css';

.stage-header-wrapper {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
}

.stage-header-wrapper-overlay {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
}

.stage-menu-wrapper {
  height: 100%;
  padding-bottom: 0.5rem;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.menu-wrapper {
  display: flex;
}

.controls {
  margin-right: auto;
}

.flex-wrapper {
  height: 100%;
}

.copyright-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.copyright {
  align-self: flex-end;
  color: #00345f;
  font-weight: bold;
  text-decoration: none;
  padding-right: 0.5rem;
}
