@import "../../css/units.css";
@import "../../css/colors.css";

.stage-header-wrapper {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
}

.stage-header-wrapper-overlay {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5000;
}

.stage-menu-wrapper {
    height: 100%;
    padding-bottom: .5rem;
    margin-left: auto;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.controls {
    margin-right: auto;
}

.header-icon {

}
