.container {
    background-image: url(../menu/bg_blue@1x.png);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-width: 40vw;
    min-height: 40vh;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.brand-icon {
    height: 2rem;
    width: auto;
}

.brand-icon svg path {
    fill: currentColor;
}
