@import "../../css/units.css";
@import "../../css/colors.css";

.toolbox-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 501;

    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.toolbox-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 1rem 0;

    -webkit-box-shadow: 0.125rem 0.125rem 0.75rem 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0.125rem 0.125rem 0.75rem 0 rgba(0, 0, 0, 0.5);
}

.modal-content {
    width: 60vw;
}

.sharing-button {
    height: 5rem;
    margin: 0 1rem;
    cursor: pointer;
}

.screenshot-wrapper {
    height: 45vh;
    width: auto;
    align-self: center;
    position: relative;
}

.screenshot {
    height: 45vh;
    width: auto;
    align-self: center;
}

.print-screenshot {
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    height: 45vh;
    width: 45vh;
}

.spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
}

.sharing-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}

.qr-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.button-icon {
    height: 7rem;
    width: auto;
}

[disabled] .button-icon {
    filter: grayscale(100%);
}

.recording-button-wrapper {
    position: relative;
}

.counter {
    position: absolute;
    top: 0;
    right: 100%;
    padding: .5rem;
    background-color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.print-layout {
    position: absolute;
    left: 100vw;
}