@import "../../css/units.css";
@import "../../css/colors.css";

.toolbox-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 501;

    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.toolbox-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 1rem;

    -webkit-box-shadow: 0.125rem 0.125rem 0.75rem 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0.125rem 0.125rem 0.75rem 0 rgba(0, 0, 0, 0.5);
}

.sharing-button {
    height: 5rem;
    cursor: pointer;
}

.sharing-button:last-child {
    margin-top: .5rem;
}

.screenshot-wrapper {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.screenshot-wrapper img {
    height: 50vh;
    width: auto;
}

.print-screenshot {
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    height: 50vh;
    width: 50vh;
    border: 3px dotted red;
    border-radius: 50%;
}

.spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
}

.sharing-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}

.qr-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.button-wrapper img {
    height: 8rem;
    width: auto;
}

.disable-button {
    cursor: not-allowed;
    background: none;
}