@import "../../css/colors.css";
@import "../../css/units.css";
@import "../../css/typography.css";

.crash-wrapper {
    background-image: url(../gui/bg_header@1x.png);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body {
    width: 35%;
    color: black;
    background-color: white;
    text-align: center;
    padding: 2rem;
    box-shadow: 0 0 0.8rem 1px rgba(0,0,0,.5);
}

.reloadButton {
    border: none;
    border-radius: 0;
    padding: 0.5rem 2rem;
    color: white;
    background: #da632a;
    font-weight: bold;
    font-size: 0.875rem;
    cursor: pointer;
}
