@import "../../css/units.css";

.target-pane {
    /* Makes columns for the sprite library selector + and the stage selector */
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.stage-selector-wrapper {
    display: flex;
}
