@import "../../css/colors.css";

.target-pane {
    /* Makes columns for the sprite library selector + and the stage selector */
    display: flex;
    flex-direction: row;
    min-height: 85px;
    margin-top: .5rem;
    max-width: calc(100vw - 1rem);
    background-color: #f0f5fa;
}

.stage-selector-wrapper {
    display: flex;
    margin-right: 1rem;
}

.stage-selector-wrapper:after {
    display: inline-block;
    margin: .5rem 0;
    content: '';
    border-right: 1px solid $ui-grey;
}
