@import "../../css/units.css";

.target-pane {
    /* Makes columns for the sprite library selector + and the stage selector */
    display: flex;
    flex-direction: row;
    min-height: 85px;
    margin-top: .5rem;
    max-width: calc(100vw - 1rem);
}

.stage-selector-wrapper {
    display: flex;
    flex: 0 0 315px;
    border-right: 1px solid #97bade;
}
