@import '../../css/colors.css'; 

.edu-wrapper {
    flex-grow: 1;
    background: #fff;
    border: $ui-black-transparent 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edu-wrapper.fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.edu-header {
}

.fullscreen-button {
    float: right;
    margin-top: .75rem;
    margin-right: .75rem;
    padding: 0;
    user-select: none;
    cursor: pointer;
}

.fullscreen-button-icon {
    height: 1.5rem;
}

.eduSlides {
    display: flex;
    flex-grow: 1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.edu-footer {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}

.back-button {
    flex-grow: 1;
    justify-content: center;
}

.forward-button {
    flex-grow: 1;
    justify-content: center;
}

.back-button-icon {
    width: 2rem;
    padding: .5rem;
}

.forward-button-icon {
    transform: rotate(180deg);
    width: 2rem;
    padding: .5rem;
}