.icon {
  width: 1.4rem;
  display: block;
  margin-left: .5rem;
}

.button {
  background: none;
  border: none;
  display: flex;
  align-self: flex-end;
  color: #1d83a8;
  font-weight: 600;
  font-size: 1rem;
  padding-right: .5rem;
}