.button {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;

  font-family: 'Titillium Web';
  font-weight: 400;
  font-size: 1rem;

  user-select: none;
  cursor: pointer;
}

.icon {
  width: 2rem;
  height: 2rem;
  display: block;
  align-self: center;
  margin-bottom: .25rem;

  transition: 0.2s ease-out;
}

.button:hover .icon {
  transform: scale(1.2);
}

.content {
  color: #3f84aa;
}
