@import "../../css/units.css";
@import "../../css/colors.css";

.blocks :global(.injectionDiv){
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.blocks :global(.blocklyMainBackground) {
    stroke: none;
    fill: #e1ebf6;
}

.blocks :global(.blocklyToolboxDiv) {
    box-sizing: content-box;
    background-color: #deebf5;

    font-family: 'Titillium Web';
}

.blocks :global(.blocklyFlyout) {
    box-sizing: content-box;
    transform: translate(4rem, 0) !important;
}

.blocks :global(.blocklyWorkspace) {
    transform: translate(0) !important;
}

.blocks :global(.blocklyFlyoutLabelText) {
    font-family: 'Titillium Web';
    font-weight: 600;
    font-size: 1.8rem;
}

.blocks :global(.blocklyScrollbarVertical.blocklyFlyoutScrollbar) {
    transform: translate(18.5rem, .5rem) !important;
}

/*
    Shrink category font to fit "My Blocks" for now.
    Probably will need different solutions for language support later, so
    make the change here instead of in scratch-blocks.
*/
.blocks :global(.scratchCategoryMenuItemLabel) {
    font-size: 0.65rem;
}

.blocks :global(.scratchCategoryMenu) {
    width: 4.1rem;
}

.blocks :global(.scratchCategoryMenuRow) {
    background-color: #deebf5;
}

.blocks :global(.scratchCategoryMenuItem) {
    padding: .5rem;
}

.blocks :global(.scratchCategoryMenuItem):hover {
    color: #4486b5 !important;
}

.blocks :global(.scratchCategoryItemIcon) {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.blocks :global(.scratchCategoryMenuItem.categorySelected) {
    background-color: #f3f6f8;
}

.blocks :global(.blocklyMinimalBody) {
    min-width: auto;
    min-height: auto;
}

.blocks :global(.blocklyZoom image) {
    cursor: pointer;
}
