.controls-container {
    display: flex;
}

.isFullScreen {
    margin: 0 1rem;
}

.control {
    width: 3.5rem;
    height: 3.5rem;
    padding: 0.25rem;
    user-select: none;
    user-drag: none;
    cursor: pointer;
    transition: transform 0.2s ease-out;
    margin-left: .5rem;
}
.control:hover {
    transform: scale(1.2);
}

.control.isActive {
    opacity: 0.5;
}

.isFullScreen .control {
    width: 3rem;
    height: 3rem;
    padding: 0.375rem;
    margin-right: 0;
}
