@import '../menu-listing/menu-listing.css';

.project-wrapper:first-of-type .title {
  margin-bottom: auto;
}

.note {
  margin-bottom: auto;
}

.video-content {
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
