@import "../../css/colors.css";

$button-size: 3.5rem;

.menu-container {
    display: flex;
    flex-direction: column;
    transition: 0.2s;
    position: relative;
}

.button {
    cursor: pointer;
    font-family: 'Titillium Web';
    outline: none;
    border: none;
    width: $button-size;
    height: $button-size;
    background: transparent;
}

button::-moz-focus-inner {
    border: 0;
}

.button:hover {
  transform: scale(1.1);
}

.button img {
    width: 100%;
}

.main-button {
    z-index: 20; /* TODO reorder layout to prevent z-index need */
}

.more-buttons {
    display: flex;
    flex-direction: column;
    z-index: 10; /* @todo justify */
}

.file-input {
    display: none;
}

.force-hidden .more-buttons {
    display: none; /* This property does not animate */
}

.more-buttons:first-child { /* Round off top button */
    border-top-right-radius: $button-size;
    border-top-left-radius: $button-size;
}

.more-button {
    width: $button-size;
    height: $button-size;
}

.more-icon {
    width: 100%;
}

.coming-soon .more-icon {
    opacity: 0.5;
}

/*
    @todo needs to be refactored with coming soon tooltip overrides.
    The "!important"s are for the same reason as with coming soon, the library
    is not very easy to style.
*/
.tooltip {
    background-color: $ui-orange !important;
    opacity: 1 !important;
    font-family: 'Titillium Web' !important;
}

.tooltip:after {
    background-color: $ui-orange;
}

.coming-soon-tooltip {
    background-color: $ui-orange !important;
}

.coming-soon-tooltip:after {
    background-color: $ui-orange !important;
}

.tooltip {
    font-family: 'Titillium Web' !important;
    z-index: 100 !important;
}

$arrow-size: 0.5rem;
$arrow-inset: -0.25rem;
$arrow-rounding: 0.125rem;

.tooltip:after {
    content: "";
    border-top: 1px solid hsla(0, 0%, 0%, .1) !important;
    border-left: 0 !important;
    border-bottom: 0 !important;
    border-right: 1px solid hsla(0, 0%, 0%, .1) !important;
    border-radius: $arrow-rounding;
    height: $arrow-size !important;
    width: $arrow-size !important;
}

.tooltip:global(.place-left):after {
    margin-top: $arrow-inset !important;
    right: $arrow-inset !important;
    transform: rotate(45deg) !important;
}

.tooltip:global(.place-right):after {
    margin-top: $arrow-inset !important;
    left: $arrow-inset !important;
    transform: rotate(-135deg) !important;
}

.tooltip:global(.place-top):after {
    margin-right: $arrow-inset !important;
    bottom: $arrow-inset !important;
    transform: rotate(135deg) !important;
}

.tooltip:global(.place-bottom):after {
    margin-left: $arrow-inset !important;
    top: $arrow-inset !important;
    transform: rotate(-45deg) !important;
}
