.wrapper {
    margin-top: 2.5rem;
    max-width: 40rem;
}

.wrapper p {
    font-size: 1.4rem;
}

.inner-wrapper {
    padding: 2rem;
    background-color: white;
    box-shadow: 0 0 0.8rem 1px rgba(0,0,0,.5);
}

.button-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}

.button {
    font-size: 1.4rem;
    width: 16rem;
    justify-content: center;
}
