.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: url(../gui/bg_header@1x.png);
  padding: 2rem;
}

.wrapper {
  margin-top: 2.5rem;
  max-width: 700px;
  font-size: 1.4rem;
}

.wrapper p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: inherit;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #ddd;
  color: inherit;
  text-decoration: none;
}

.section:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.section-text {
  padding-right: 1em;
}

.section-small-text {
  margin-top: 0.25em;
  margin-bottom: 0.75em;
  font-size: 0.7em;
  line-height: 1.5;
}

.wdr-logo {
  align-self: flex-start;
  height: 2rem;
}

.logo {
  display: block;
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.image-hello-world {
  display: block;
  max-width: 150px;
  margin-right: 2rem;
}

.image-maus {
  display: block;
  max-width: 90px;
  margin-right: 4rem;
}

.inner-wrapper {
  padding: 3rem;
  background-color: white;
  box-shadow: 2px 2px 12px -4px rgba(0, 0, 0, 0.7);
}
